@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #ffffff;
}
.navContainer{
   height: 10vh;
   background-color: #2196F3;
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding-left: 8rem;
}
.logoContainer{
    background-color: #2196F3;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navButtonContainer{
    background-color: #2196F3;
    flex: 2.4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.navButtonContainer >*{
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    color:#f4f6f3;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


.titleImageContainer{
    height: 60vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-image: url(./images/waterImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.titleContainer{
    background-color: transparent;
    flex:1;
    height: 22rem;
    padding: 4rem;
    background-color: transparent;
}
.titleTextContainer > *{
    background-color:transparent;
    color: #2196F3;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
}
.titleTextContainer{
    background-color: transparent;
}
.titleButtonContainer{
    background-color:transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3rem;
    width: 45%;
    margin-top: 1rem;
    padding: 5px;
    gap: 1rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.exploreOurProducts{
    flex: 5;
    background-color: #2196F3;
    font-size: 1rem;
    color:#E3F2FD;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buyNow{
    flex:3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 1rem;
    color:#2196F3;
    border: 2px solid #2196F3;
    border-radius: 6px;
}

.imageContainer{
    background-color: transparent;
    flex: 1;
    height: 22rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.house1image{
    height: 100%;
    border-radius: 10px;
}

svg.lucide {
    width: 48px;   /* Adjust size as needed */
    height: 48px;
    color: #2196F3; /* Optional: your theme color */
}

.features{
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9rem;
    margin: 0rem 8rem 0rem 8rem;
}
.featuresBox{
    margin-top: 2rem;
    flex:1;
}

.featuresBoxHeading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    color:#1a1a1a;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
}
.autoCutOffHeadingText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.energySavingHeadingText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.easyInstallationHeadingText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.autoCutOffSubtext{
    padding: 0.5rem 0.2rem 0.5rem 0.2rem;
    color: #555555;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
}
.energySavingSubtext{
    padding: 0.5rem 0.2rem 0.5rem 0.2rem;
    color: #555555;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
}
.easyInstallationSubtext{
    padding: 0.5rem 0.2rem 0.5rem 0.2rem;
    color:#555555 ;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
}

.structuredContentSection{
    background-image: url(./images/watertank.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 7rem;
}
.ourSolutionHeading{
     background: rgba(0, 0, 0, 0.5); /* dark overlay */
    color: #f5f5f5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.7rem;
    margin: 0rem 7rem 0rem 7rem;
    padding: 2rem 2rem 0rem 2.2rem;
    
}
.ourSolutionSubtextContainer{
    margin: 0rem 7rem 6.3rem 7rem;
    padding: 2.5rem 2rem  0rem 2.5rem;
     background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 60vh;
    
}
.ourSolutionSubtext{
    padding-right: 3rem;
    background-color: transparent;
    flex: 5;
    color: #f5f5f5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.5;
}
.floatingImagesContainer{
    margin-top: 3rem;
    height: 30vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutUsSection{
   position: relative;
   height: 100vh;
   background-color: antiquewhite;
   padding-top: 5rem;
    
}
.aboutUsSection * {
    background-color:antiquewhite;
}
.aboutUsSectionInternalContainer{
    padding-top: 3rem;
    margin: 0rem 7rem 0rem 7rem;
    background-image: url();
    height: 80vh;
}
.aboutUsSectionHeading{
    margin: 0rem 2rem 0rem 2.8rem ;
     font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.7rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}
.aboutUsSectionParagraph{
    margin: 1rem 3rem 0rem 3rem;
     font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}



  
